<div class='chat-room-form'>
<h1>チャットするユーザー : <%= @user.id %></h1>
<%# フォロー %>
<% if current_staff %>
  <% if Relationship.followed_each_other?(current_staff.id, @user.id) %>
    <h1>現在の状態：相互フォロー中</h1>
    <%# メッセージ %>
    <% if @isRoom == true %>
      <h1><a href="/rooms/<%= @roomId %>">チャットへ</a></h1>
    <% elsif current_staff %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" %>
      <% end %>
    <% end %>
  <% else %>
    <h1>現在の状態：相互フォローではありません</h1>
  <% end %>

  <div class="follow">
    <% if current_staff %>
      <% unless relationship = Relationship.find_by(staff_id: current_staff.id, user_id: @user.id, user_type: Relationship::FOLLOW_STAFF) %>
        <%= button_to "フォローする", relationships_path, params: {user_id: @user.id}, method: :post, class: 'chat-room-form__action-btn' %>
      <% else %>
        <%= button_to "フォロー解除", relationship_path(relationship.id), params: {user_id: @user.id}, method: :delete, class: 'chat-room-form__action-btn' %>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>
