<main class="main">
  <div class="inner">
   <% if user_signed_in? %>
      <div class="greeting">
        <%= "ようこそ" %>
        <%= link_to "#{current_user.nickname}さん", root_path, class: :greeting__link %>
        </div>
      <% elsif staff_signed_in? %>
      <div class="greeting">
        <%= "ようこそ" %>
        <%= link_to "#{current_staff.nickname}さん", root_path, class: :greeting__link %>
      </div>
      <% else %>
      <div class="greeting">
      <%= link_to "ようこそゲストさん", root_path, class: :greeting__link %>
      </div>
    <% end %>
    <div class="card__wrapper">
      <ul class="slick">
        <li><%= link_to image_tag("banner1.jpg", class:"banner_image"), "/" %></li>
        <li><%= link_to image_tag("banner2.jpg", class:"banner_image"), "/" %></li>
        <li><%= link_to image_tag("banner3.jpg", class:"banner_image"), "/" %></li>
      </ul>
      <ul class="pop">
        <% if user_signed_in? %>
          <li><%= link_to image_tag("chat.png", class:"pop_image"), staffs_path %></li>
          <li><%= link_to image_tag("reservation.png", class:"pop_image"), "/" %></li>
        <% elsif staff_signed_in? %>
          <li><%= link_to image_tag("chat.png", class:"pop_image"), users_path %></li>
        <% else %>
        <% end %>
      </ul>
    </div>
  </div>
</main>
