<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marketforyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
 <%# トップページのスライド %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

   <script>
   (function(){
  var html = document.getElementsByTagName('html')||[];
  html[0].classList.add('enable-javascript');
  window.addEventListener("load", function(){
    html[0].classList.add('window-load');
  }, false);
})();
    $(document).on('turbolinks:load', function() {
      $(document).ready(function () {
        $('.slick').slick({
          dots: true,
          autoplay: true
        });
      });
    });
  </script>
  <%# //トップページのスライド %>
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("marketforyou.logo.png", class: :logo), root_path %>
          </div>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
              <%= link_to "チャット", staffs_path, class: :nav__btn %>
              <%= link_to "来店予約", root_path, class: :nav__btn %>
            </div>
          <% elsif staff_signed_in? %>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_staff_session_path, method: :delete, class: :nav__btn %>
              <%= link_to "チャット", users_path, class: :nav__btn %>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "スタッフログイン", new_staff_session_path, class: :nav__btn %>
              <%= link_to "スタッフはこちら", new_staff_registration_path, class: :nav__btn %>
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
          <% if flash[:notice] %>
            <p><%= flash[:notice] %></p>
          <% end %>
    <%= yield %>

    <footer class="footer">
        <ul class="sns">
          <li><%= link_to image_tag("facebook.png", class:"sns_image"), "/" %></li>
          <li><%= link_to image_tag("twitter.png", class:"sns_image"), "/" %></li>
          <li><%= link_to image_tag("instagram.png", class:"sns_image"), "/" %></li>
        </ul>
      <p class="copyright">© MARKETFORYOU All Rights Reserved.</p>
    </footer>
  </body>
</html>
